.layer-panel {
  position: absolute;
  left: 0;
  top: 42px;
  width: 200px;
  height: calc(100% - 42px - 50px);
  display: flex;
  flex-direction: column;
  z-index: var(--layer-panels);
  color: var(--color-text);
  box-shadow: var(--shadow-2);
  border-radius: var(--radius-3);
  background-color: var(--color-panel);
  margin: 8px;
  margin-top: 4px;
  touch-action: auto;
  overscroll-behavior: none;
  overflow: hidden;
}

.shape-tree {
  overflow-y: auto;
}

.shape-list {
  display: block;
}

.shape-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 2px;
  cursor: pointer;
}

.shape-visibility-toggle {
  padding: 3px 6px;
  border-radius: 3px;
  outline: none;
  border: none;
  background: none;
  flex-shrink: 0;
}

.shape-visibility-toggle:hover {
  cursor: pointer;
  background-color: #0000000b;
}

.layer-panel-title {
  padding: 10px;
  font-size: small;
  font-weight: bolder;
}

.shape-name-input {
  border: none;
  background: none;
  width: 0;
  flex-grow: 1;
  padding: 0;
}

.shape-name {
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}
